<!doctype html>
<html>
<head>
  <title> <%= info.name %> </title>
</head>
<body>
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand"><%= info.name %></span>
    </div>
  </div>
</div>
<div class="container">
  <div class="accordion" id="apis">
    <% for(var i = 0; i < apis.length; i++) { %>
    <%- apis[i] %>
    <% } %>
  </div>
</div>

<footer>
  <div class="container">
    <% if(info.copyright) { %>
    <div class="copyright"><%= info.copyright %> &copy;</div>
    <% } %>
  </div>
</footer>

</body>
</html>