pre {
	background-color: ghostwhite;
	border: 1px solid silver;
	padding: 10px 20px;
	margin: 20px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
.json-key {
	color: brown;
}
.json-value {
	color: navy;
}
.json-string {
	color: olive;
}

.accordion {
	padding-top: 1%;
}

.in {

	padding-bottom: 1%;

}

#header {

	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

#endpoints {

	width: 90%;
	margin-left: auto;
	margin-right: auto;

}

.copyright {
	
	text-align: center;

}